

body {
  text-align: center;
  font-family: 'Cutive Mono', monospace;
  font-weight: 400;
  margin: 0;
}

/* grid container*/
.page {
  display: grid; 
  grid-template-columns: 200px 1fr 100px 100px;
  grid-template-rows: 100px 40px 1fr 86px;
  grid-template-areas: "header header header header"
  						". . score results"
                       "sidebar main . ."
                       "footer footer footer footer"; 
  height: 100vh;
  max-width: 100vw;
}
 /*grid items*/
.header { grid-area: header; }
.score { grid-area: score; }
.results { grid-area: results; }
.main { grid-area: main; }
.sidebar { grid-area: sidebar; }
.footer { grid-area: footer; }

.canvas {
    align-self: center;
    justify-self: center;
	border: solid 1px black;
}

